
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
.banner img{
    width: 100%;
  
    margin-bottom: 35px;
}
.banner-end img{
  
        width: 100%;
      
        margin-bottom: 35px;
  
}