<div class="product">
    <h1>XE Ô TÔ VINFAST</h1>
    <section id="home-section">
        <div class="container">
          <div class="row">
            <div
              class="col-4 card-body"
              *ngFor="let product of products"
              
            >
              <div class="card" style="width: 18rem">
                <div class="card-body">
                  <img src="{{ product.productimgUrl }}" alt="" class="card-img-top" />
                  <a class="card-title" routerLink="detail/{{product.id}}">{{ product.productName }}</a>
                  <p class="card-text">Giá: {{ product.productPrice }}</p>
                  <!-- pipes -->
                  <button (click)="onSelection(product)">
                    click
                  </button>
                </div>
              </div>
              <div *ngIf="product.isDescriptionVisible">
                
                <div>
                  <span>{{ product.productDesc }}</span>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </section>