.product{
    margin-top: 82px;
    margin-bottom: 69px;
}
.row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.img-item{
    margin-bottom: 71px;
}
.tit{
    text-align: center;
}
.product-name{
    font-size: 24px;
    display: block;
    margin-bottom: 32px;
}
.product-title{
    font-size: 20px;
    display: block;
    margin-bottom: 37px;
}
.product-info ul{
    margin-left: 28px;
}